<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
            <add name="firstflaskhandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\hp\PycharmProjects\projet_stage\venv\Scripts\python.exe" resourceType="File" />
      <add name="FlaskFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python39\python.exe|C:\Python39\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>

    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />

    <staticContent>
      <clear />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".png" mimeType="image/png" />
      <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
    </staticContent>

    <defaultDocument enabled="false" />
  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="flask_app.app" />  
    <add key="PYTHONPATH" value="C:\Users\hp\PycharmProjects\projet_stage" />
  </appSettings>
</configuration>
